*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0;
}

.header{
    background-image: url("./img/portada.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
}
.text-img{
    text-align: center;

}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Active/current link */
.navbar a.active {
    background-color: #666;
    color: white;
}

/* Column container */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Subjects effects */
.subjectsContainer{

}

/* Container img grades */
.contimg{

    text-align: center;
    margin: auto;
}

/* Responsive layout when is less 700px or 400 px */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.incorrect{
    background-color: red;
}
.correct{
    background-color: lawngreen;
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    float: left;

}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}*/

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
    transform: rotateY(180deg);
}

.flip-box-back {
    background-color: #555;
    color: white;

}

/* slider horizontal */
.wrapper{
// max-width: 1000px
margin: 0 auto 100px auto;
}

.mSlider-item[data-number='1']{
    background-color: red;
}
.mSlider-item[data-number='2']{
    background-color: blue;
}

.mSlider-item[data-number='3']{
    background-color: #f432f5;
}

.mSlider-item[data-number='4']{
    background-color: red;
}

.mSlider-item[data-number='5']{
    background-color: blue;
}

.mSlider-item[data-number='6']{
    background-color: #f432f5;
}

.mSlider-item[data-number='7']{
    background-color: #a1f2f8;
}

.mSlider-container{
// max-width: 600px
margin: 0 auto;
// text-align: center
position: relative;
}

   .mSlider_disp{
       overflow: hidden;
   }

   .mSlider_list{
       position: relative;
       transition: left 0.6s ease-in-out;
       font-size: 0;
   }


.mSlider-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
    width: 400px;
    height: 300px;
    opacity: .4;
    border-radius: 15px;
}

.mSlider-arrow{
    position: absolute;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 40px;
    background-color: black;
    opacity: .5;
    cursor: pointer;
    color: white;
    font-size: 25px;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    outline: none;
}
.mSlider-arrow:hover{
     opacity: 1;
 }

.mSlider-arrow-prev{
    left: 0px;
    top: 50%;
}

.mSlider-arrow-next{
    right: 0;
    top: 50%;
}
